table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

th {
  background-color: #f4f4f4;
}
